<!-- Footer -->
<footer class="page-footer">

    <!-- Footer Elements -->
    <div class="container mx-auto">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-6 mx-auto mt-5 pt-5">
          <div class="mb-5 d-flex justify-content-around">
  
            <!-- Twitter -->
            <a class="tw-ic text-secondary" href="https://twitter.com/adetechad" target="_BLANK">
              <i class="fa fa-twitter fa-lg white-text fa-2x"> </i>
            </a>
            <!-- Facebook -->
            <a class="fb-ic text-secondary" href="https://www.facebook.com/adel.islem.16" target="_BLANK">
              <i class="fa fa-facebook-f fa-lg white-text fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic text-secondary" href="https://www.linkedin.com/in/adel-lassag/" target="_BLANK">
              <i class="fa fa-linkedin fa-lg white-text fa-2x"> </i>
            </a>
            <!--Github -->
            <a class="gb-ic text-secondary" href="https://github.com/Adetec" target="_BLANK">
              <i class="fa fa-github fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
      <!-- Copyright -->
      <div class="footer-copyright mb-5 text-center">برمجة وتصميم:
        <a href="https://github.com/Adetec/" target="_Blank"> عادل لصاق</a>
      </div>
        <!-- Copyright -->
    </div>
    <!-- Footer Elements -->
  
  
  </footer>
  <!-- Footer -->