{% extends 'base.html' %}
{% block main %}
<section>
    <div class="bg-section abs diag"></div>
    <div class="">
        <div class="">
            <h2 class="intro">خدمات بيتي</h2>
            <p class="indigo-text text-darken-3 lighten-3">اللهم أسألك أن تيسير لي هذا الامتحان، وتجعل الخيرة فيه إنك على كل شي قدير، اللهم إني أسألك بمقاعد العز من عرشك، ومنتهى الرحمة من كتابك، واسمك الأعظم وكلماتك، أن تفتح عليّ فتوح العارفين.
        </div>
    </div>
    <div class="">
        <!-- Image credit: https://undraw.co -->
        <div class=""><img class="img-fluid" src="{{ url_for('static', filename='img/handyman-working-renovating-build-tools_53876-31569.jpg') }}"></div>
    </div>
</section>
<section>
    <div class="">
        <div class="">
            <h2 class="">الخدمات حسب الصنف</h2>
            {% if categories %}
                <div class="carousel">
                    {% for category in categories %}
                    <a class="carousel-item" href="#cat{{ category.id }}">
                        <span class="indigo-text">{{ category.category_name }}</span>
                        <p class="">{{ category.description }}</p>
                        <img class="img-fluid" src="static/img/categories/{{ category.image_file }}">
                    </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="">
        <!-- Image credit: https://undraw.co -->
        <div class=""><img class="img-fluid" src="{{ url_for('static', filename='img/people-renovating-house-concept_53876-20664.jpg') }}"></div>
    </div>
</section>
<section>
    <h2 class="">الخدمات</h2>
    {% if services %}
        <div id="carouselServiceInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="100">
                    <img class="d-block w-100" src="">
                </div>
                {% for service in services %}
                <div class="carousel-item" data-interval="3000">
                    <img class="d-block w-100 img-fluid" src="static/img/services/{{ service.image_file }}">
                    <div class="carousel-caption d-none d-md-block text-light bg-dark">
                        <h5>{{ service.service_name }}</h5>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselServiceInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselServiceInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endif %}
</section>
{% endblock %}