{% extends 'base.html' %}
{% block main %}
<section>
    <div class="section white">
        <div class="row container">
            <h2 class="header indigo-text">بيتي للخدمات</h2>
            <p class="grey-text text-darken-3 lighten-3">اللهم أسألك أن تيسير لي هذا الامتحان، وتجعل الخيرة فيه إنك على كل شي قدير، اللهم إني أسألك بمقاعد العز من عرشك، ومنتهى الرحمة من كتابك، واسمك الأعظم وكلماتك، أن تفتح عليّ فتوح العارفين.
        </div>
    </div>
    <div class="parallax-container">
        <!-- Image credit: https://undraw.co -->
        <div class="parallax"><img src="{{ url_for('static', filename='img/workers.svg') }}"></div>
    </div>
</section>
<section>
    <div class="section white">
        <div class="row container">
            <h2 class="header indigo-text">الخدمات حسب الصنف</h2>
            {% if categories %}
                {% for category in categories %}
                    <p class="indigo-text">{{ category.category_name }}</p>
                    <p class="">{{ category.description }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="parallax-container">
        <!-- Image credit: https://undraw.co -->
        <div class="parallax"><img src="{{ url_for('static', filename='img/workers.svg') }}"></div>
    </div>
</section>
{% endblock %}