{% extends 'base.html' %}
{% block main %}
<section>
    <div class="section transparent fit-h valign-wrapper">
        <div class="row container">
            <h2 class="header center indigo-text">خدمات بيتي</h2>
            <p class="indigo-text text-darken-3 lighten-3">اللهم أسألك أن تيسير لي هذا الامتحان، وتجعل الخيرة فيه إنك على كل شي قدير، اللهم إني أسألك بمقاعد العز من عرشك، ومنتهى الرحمة من كتابك، واسمك الأعظم وكلماتك، أن تفتح عليّ فتوح العارفين.
        </div>
    </div>
    <div class="parallax-container">
        <!-- Image credit: https://undraw.co -->
        <div class="parallax"><img src="{{ url_for('static', filename='img/handyman-working-renovating-build-tools_53876-31569.jpg') }}"></div>
    </div>
</section>
<section>
    <div class="section white">
        <div class="row container">
            <h2 class="header center indigo-text">الخدمات حسب الصنف</h2>
            {% if categories %}
                <div class="carousel">
                    {% for category in categories %}
                    <a class="carousel-item" href="#cat{{ category.id }}">
                        <span class="indigo-text">{{ category.category_name }}</span>
                        <p class="">{{ category.description }}</p>
                        <img class="responsive-img" src="static/img/categories/{{ category.image_file }}">
                    </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="parallax-container">
        <!-- Image credit: https://undraw.co -->
        <div class="parallax"><img src="{{ url_for('static', filename='img/people-renovating-house-concept_53876-20664.jpg') }}"></div>
    </div>
</section>
<section>
    <div class="section white">
        <div class="row container">
            <h2 class="header center indigo-text">الخدمات</h2>
            {% if services %}
                <div class="carousel">
                    {% for service in services %}
                    <a class="carousel-item center" href="#serv{{ service.id }}">
                        <p class="indigo-text">{{ service.service_name }}</p>
                        <p class="red-text">{{ service.parent.category_name }}</p>
                        <p class="green-text">{{ service.owner.full_name }}</p>
                        <img class="responsive-img" src="static/img/services/{{ service.image_file }}">
                    </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="parallax-container">
        <!-- Image credit: https://undraw.co -->
        <div class="parallax"><img src="{{ url_for('static', filename='img/workers.svg') }}"></div>
    </div>
</section>
{% endblock %}