<div id='map' class="container d-flex"></div>
<div class="text-center">
    {% if current_user.lat < 0 or current_user.lat >0 %}
    <h2 id="position-title">موقعي الحالي:</h2>
    <p><span id="user-lat">{{ current_user.lat }}</span>, <span id="user-lon">{{ current_user.lon }}</span></p>
    {% endif %}
</div>
<div class="alert alert-info text-center" id="info">
    يمكنك تحديد موقعك الحديث عبر الضغط <a href="#">الزر</a> الموجود أعلى يمين الخريطة
</div>

<script>
    // get user coordinates
    let getUserCoor = () => {
        let userCoor = {
            lat: $('#user-lat')[0].textContent,
            lng: $('#user-lon')[0].textContent
        }
        if (userCoor.lat == 'None') {
            userCoor.lat = 35.54707630042317;
            userCoor.lng = 6.126066400000013;
        }
        return userCoor;
    }


    // Mapbox
    mapboxgl.accessToken = 'pk.eyJ1IjoiaG9tZXNlcnZpY2UiLCJhIjoiY2swcGh4eTk5MDEzczNtcG9laGh5eWx1biJ9.3FOluiVDosFsTuG9Ps6YGw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [getUserCoor().lng, getUserCoor().lat], // starting position [lng, lat]
        zoom: 12 // starting zoom
    });

    // Add geolocate control to the map.
    map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true   
        },
        trackUserLocation: true
    }));
    // create the service owner marker icon
    let marker = new mapboxgl.Marker()
    .setLngLat(getUserCoor())
    .addTo(map)
    console.log(getUserCoor());

    map.on('click', function (e) {
        newCoor = e.lngLat
        document.getElementById('info').innerHTML =
        // e.point is the x, y coordinates of the click event relative
        // to the top-left corner of the map
        JSON.stringify(e.point) + '<br />' +
        // e.lngLat is the longitude, latitude geographical position of the event
        JSON.stringify(newCoor.wrap());
        console.log(newCoor.lng);
        // Send coordinates to the server side:
        
        $.ajax({
            type : 'POST',
            url : "/map",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data : JSON.stringify({
                lat: newCoor.lat,
                lng: newCoor.lng
            }),
            success: (response) => {
                console.log(newCoor);
                marker.setLngLat(newCoor)
                .addTo(map)
            },
        });
        
        //console.log(getUserCoor());
        
    });
    console.log(marker);
</script>