<nav dir="" class="indigo darken-4">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">بيتي</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="hide-on-med-and-down">
                    <li><a href="{{ url_for('display_users') }}">المستخدمين</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class='dropdown-trigger hover' href='#' data-target='dropdown1'>الخدمات</a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down row">
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('profile') }}">
                            <div class="btn white btn-floating tooltipped" data-position="bottom" data-tooltip="{{ current_user.username }}">
                                <img class="responsive-img" src="static/img/users-profile/{{ current_user.image_file }}" alt="">
                            </div>
                        </a>
                    </li>
                    <li><a class="radius red darken-3 btn" href="{{ url_for('logout') }}">خروج</a></li>
                {% else %}
                    <li><a class="radius indigo btn" href="{{ url_for('login') }}">دخول</a></li>
                    <li><a class="radius indigo btn" href="{{ url_for('register') }}">تسجيل الدخول</a></li>
                {% endif %}
                </ul>
    
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content indigo darken-4 z-depth-4'>
                <li><a href="#" target="_BLANK" class="white-text">بناء</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#" target="_BLANK" class="white-text">نجارة</a></li>
                <li class="divider" tabindex="0"></li>
                <li><a href="#" target="_BLANK" class="white-text">ترصيص</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav indigo lighten-5" id="mobile-demo">
            <li><a href="{{ url_for('display_users') }}">المستخدمين</a></li>
                    <li><a href="#">اتصل بنا</a></li>
            <ul>
                <li><a class="radius red darken-4 btn" href="#">خروج</a></li>
            </ul>
        <ul>
            <li><a class="radius indigo darken-4 btn" href="{{ url_for('login') }}">دخول</a></li>
        </ul>
        <ul>
            <li><a class="radius indigo darken-4 btn" href="{{ url_for('register') }}">تسجيل الدخول</a></li>
        </ul>
        <!-- Dropdown Trigger -->
        <ul>
            <li><a class='dropdown-trigger indigo btn' href='#' data-target='dropdown2'>الخدمات</a></li>
        </ul>
    
        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content indigo darken-4 z-depth-4'>
            <li><a href="#" target="_BLANK" class="white-text">بناء</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#" target="_BLANK" class="white-text">نجارة</a></li>
            <li class="divider" tabindex="0"></li>
            <li><a href="#" target="_BLANK" class="white-text">ترصيص</a></li>
        </ul>
    </ul>