<nav class="navbar navbar-expand-sm bg-light navbar-primary shadow-sm">
    <!-- Brand -->
    <a class="navbar-brand font-weight-bolder" href="/">بيتي</a>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!-- Links -->
        <ul class="navbar-nav mx-auto d-flex justify-content-start text-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('display_users') }}">المستخدمين</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_category') }}">صنف جديد</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_service') }}">خدمة جديدة</a>
            </li>
        
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    الخدمات
                </a>
                <div class="dropdown-menu border-0 bg-light text-right">
                    {% if categories %}
                        {% for cat in categories %}
                            <a class="dropdown-item text-primary" href="{{ url_for('category_details', id=cat.id) }}">{{ cat.category_name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav d-flex mr-auto justify-content-end">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">خروج</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('profile') }}">
                        <img id="user-nav-img" class="align-self-center mr-3 rounded-circle" src="{{ url_for('static', filename='img/users-profile/') }}{{ current_user.image_file }}" alt="">
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">دخول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">تسجيل الدخول</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
    
