{% if not current_user.is_authenticated %}
    <section id="interface-section" class="">
        <div class="container text-center">
            <!-- <h1 data-aos="fade-in" class="display-4 font-weight-bolder mt-auto"><span class="text-primary">Pro</span> Handy</h1>
            <p class="text-secondary">للخدمات المنزلية</p> -->
            <div id="presentation" class="row text-right mt-5">
                <div class="col-lg-6" data-aos="flip-right">
                    <h2 class="text-center">زبون</h2>
                    <p>لديك أرض وتريد بناء منزل، لديك منزل قديم وتريد ترميمه؟</p>
                    <p>مللت من ديكور منزلك وتريد تحديثه، لديك مشكل في منزلك وتريد عمل بعض التشطيبات؟</p>
                    <p>موقع <a href="/">صلح دارك</a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                    <p>يمكنك <a href="/register">التسجيل</a> أو <a href="/login">الدخول</a> للإنظمام معنا والإستفادة من خدماتنا</p>
                </div>
                <div class="col-lg-6" data-aos="flip-left">
                    <h2 class="text-center">متعامل</h2>
                    <p>لديك شركة تقدم خدمات مقاولاتية؟</p>
                    <p>مقاول أو تحترف مهنة في مجال البناء، الترصيص، النجارة الخ؟</p>
                    <p>موقع <a href="/">صلح دارك</a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                    <p>يمكنك <a href="/register">التسجيل</a> أو <a href="/login">الدخول</a> للإنظمام معنا وعرض خدماتك المميزة</p>
                </div>
            </div>

            <div class="container">
                <div class="row mt-4">
                    <div class="col-lg-4 mb-4 shadow-sm">
                        <div class="counter-container" data-aos="flip-right">
                            <div class="counter-value">{{ statics[0] }}</div>
                        </div>
                        <h2 data-aos="slide-up">المجالات</h2>
                        <div data-aos="zoom-in" class="mb-2"><a class="btn btn-outline-primary" href="#categories" role="button">اكتشف</a></div>
                    </div>
                    <div class="col-lg-4 mb-4 shadow-sm">
                        <div class="counter-container" data-aos="flip-down">
                            <div class="counter-value">{{ statics[1] }}</div>
                        </div>
                        <h2 data-aos="slide-up">الخدمات</h2>
                        <div data-aos="zoom-in" class="mb-2"><a class="btn btn-outline-primary" href="#services" role="button">اكتشف</a></div>
                    </div>
                    <div class="col-lg-4 mb-4 shadow-sm">
                        <div class="counter-container" data-aos="flip-left">
                            <div class="counter-value">{{ statics[2] }}</div>
                        </div>
                        <h2 data-aos="slide-up">المتعاملين</h2>
                        <div data-aos="zoom-in" class="mb-2"><a class="btn btn-outline-primary" href="/users" role="button">اكتشف</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}