{% if not current_user.is_authenticated %}
    <section dir="rtl" id="cover" class="container-fluid banner-one">
        <img src="static/img/anime-objects/obj-1.png" alt="bubble" class="bubble-1">
        <img src="static/img/anime-objects/obj-2.png" alt="bubble" class="bubble-2">
        <img src="static/img/anime-objects/obj-3.png" alt="bubble" class="bubble-3">
        <img src="static/img/anime-objects/obj-4.png" alt="bubble" class="bubble-4">
        <img src="static/img/anime-objects/obj-5.png" alt="bubble" class="bubble-5">
        <!-- <img src="static/img/anime-objects/obj-6.png" alt="bubble" class="bubble-6"> -->

        <div data-aos="fade" class="container row mx-auto">
            <div class="col-lg-6">
                <img src="static/img/cle-vis_1048-2467.jpg" alt="" id="cle-vis">
            </div>
            <div class="col-lg-6">
                <div class="float-left">
                    <div class="banner-one__content">
                        <div class="block-title">
                            <div class="block-title__text">Pro Handy Home service</div><!-- /.block-title__text -->
                        </div><!-- /.block-title -->
                        <p class="banner-one__text text-center"> موقعك للخدمات المنزلية، وسيط بينك وبين متعاملينا</p><!-- /.banner-one__text -->
                        <p class="banner-one__text text-center"> أينما كنت في القطر العربي وفي أي وقت</p><!-- /.banner-one__text -->
                        <p class="banner-one__text text-center">  هدفنا تلبية كافة احتياجات منزلك بجودة عالية وبأسرع وقت ممكن</p><!-- /.banner-one__text -->
                        <a href="#presentation" class="banner-one__btn">المزيد</a>
                    </div><!-- /.banner-one__content -->
                </div>
            </div><!-- /.container -->
        </div>


    </section>
    <section dir="ltr" class="bg-orange-gardient" id="presentation">
            <section class="presentation-style-one text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-flex">
                                <div class="my-auto">
                                    <div id="presentation-slider-pager">
                                        <div class="pres-icon">
                                            <i style="color:#fff;" class="material-icons">build</i>
                                        </div><!-- /.pres-icon -->
                                        <div class="presentation-slider-pager-one">
                                            <a href="#" class="pager-item active" data-slide-index="0"><img src="{{ url_for('static', filename='img/worker1.png') }}" alt="Awesome Image"></a>
                                            <a href="#" class="pager-item" data-slide-index="1"><img src="{{ url_for('static', filename='img/worker2.png') }}" alt="Awesome Image"></a>
                                        </div><!-- /.presentation-slider-pager-one -->
                                    </div><!-- /#presentation-slider-pager -->
                                </div><!-- /.my-auto -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="block-title">
                                    <div class="block-title__text display-4"><span>مرحبا بك</span></div><!-- /.block-title__text -->
                                </div><!-- /.block-title -->
                                <div class="bx-wrapper" style="max-width: 100%;">
                                    <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative;">
                                        <ul class="slider presentation-slider" style="width: 3215%; position: relative; transition-duration: 0s; transform: translate3d(-2070px, 0px, 0px);">
                                            <li class="slide-item bx-clone" style="float: left; list-style: none; position: relative; width: 690px;" aria-hidden="true">
                                                <div class="single-pres-one">
                                                    <p>مللت من ديكور منزلك وتريد تحديثه، أوتريد عمل بعض التشطيبات؟</p>
                                                    <p>موقع <a class="text-right" href="/">Pro<span> Handy</span></a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                                                </div><!-- /.single-pres-one -->
                                            </li>
                                            <li class="slide-item" style="float: left; list-style: none; position: relative; width: 690px;" aria-hidden="true">
                                                <div class="single-pres-one">
                                                    <p>لديك شركة تقدم خدمات مقاولاتية؟</p>
                                                    <p>مقاول أو تحترف مهنة في مجال البناء، الترصيص، النجارة الخ؟</p>
                                                    <p>موقع <a href="/">صلح دارك</a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                                                    <p>يمكنك <a href="/register">التسجيل</a> أو <a href="/login">الدخول</a> للإنظمام معنا وعرض خدماتك المميزة</p>
                                                </div><!-- /.single-pres-one -->
                                            </li>
                                                </div><!-- /.single-pres-one -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="bx-controls bx-has-controls-direction">
                                        <div class="bx-controls-direction">
                                            <a class="bx-prev" href="">
                                                <i class="nonid-icon-left-arrow"></i>
                                            </a>
                                            <a class="bx-next" href="">
                                                <i class="nonid-icon-left-arrow icon-revresed"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>
    </section>
{% endif %}