{% if not current_user.is_authenticated %}
    <section id="interface-section" class="">
        <div class="container text-center">
            <!-- <h1 data-aos="fade-in" class="display-4 font-weight-bolder mt-auto"><span class="text-primary">Pro</span> Handy</h1>
            <p class="text-secondary">للخدمات المنزلية</p>
            <div id="presentation" class="row text-right mt-5">
                <div class="col-lg-6" data-aos="flip-right">
                    <h2 class="text-center">زبون</h2>
                    <p>لديك أرض وتريد بناء منزل، لديك منزل قديم وتريد ترميمه؟</p>
                    <p>مللت من ديكور منزلك وتريد تحديثه، لديك مشكل في منزلك وتريد عمل بعض التشطيبات؟</p>
                    <p>موقع <a href="/">صلح دارك</a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                    <p>يمكنك <a href="/register">التسجيل</a> أو <a href="/login">الدخول</a> للإنظمام معنا والإستفادة من خدماتنا</p>
                </div>
                <div class="col-lg-6" data-aos="flip-left">
                    <h2 class="text-center">متعامل</h2>
                    <p>لديك شركة تقدم خدمات مقاولاتية؟</p>
                    <p>مقاول أو تحترف مهنة في مجال البناء، الترصيص، النجارة الخ؟</p>
                    <p>موقع <a href="/">صلح دارك</a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                    <p>يمكنك <a href="/register">التسجيل</a> أو <a href="/login">الدخول</a> للإنظمام معنا وعرض خدماتك المميزة</p>
                </div>
            </div>

            <div class="container">
                <div class="row mt-4">
                    <div class="col-lg-4 mb-4 shadow-sm">
                        <div class="counter-container" data-aos="flip-right">
                            <div class="counter-value">{{ statics[0] }}</div>
                        </div>
                        <h2 data-aos="slide-up">المجالات</h2>
                        <div data-aos="zoom-in" class="mb-2"><a class="btn btn-outline-primary" href="#categories" role="button">اكتشف</a></div>
                    </div>
                    <div class="col-lg-4 mb-4 shadow-sm">
                        <div class="counter-container" data-aos="flip-down">
                            <div class="counter-value">{{ statics[1] }}</div>
                        </div>
                        <h2 data-aos="slide-up">الخدمات</h2>
                        <div data-aos="zoom-in" class="mb-2"><a class="btn btn-outline-primary" href="#services" role="button">اكتشف</a></div>
                    </div>
                    <div class="col-lg-4 mb-4 shadow-sm">
                        <div class="counter-container" data-aos="flip-left">
                            <div class="counter-value">{{ statics[2] }}</div>
                        </div>
                        <h2 data-aos="slide-up">المتعاملين</h2>
                        <div data-aos="zoom-in" class="mb-2"><a class="btn btn-outline-primary" href="/users" role="button">اكتشف</a></div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section dir="ltr" class="" id="presentation">
            <section class="presentation-style-one text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-flex">
                                <div class="my-auto">
                                    <div id="presentation-slider-pager">
                                        <div class="pres-icon">
                                            <i style="color:#fff;" class="material-icons">build</i>
                                        </div><!-- /.pres-icon -->
                                        <div class="presentation-slider-pager-one">
                                            <a href="#" class="pager-item active" data-slide-index="0"><img src="{{ url_for('static', filename='img/prest-1.jpg') }}" alt="Awesome Image"></a>
                                            <a href="#" class="pager-item" data-slide-index="1"><img src="{{ url_for('static', filename='img/prest-2.jpg') }}" alt="Awesome Image"></a>
                                        </div><!-- /.presentation-slider-pager-one -->
                                    </div><!-- /#presentation-slider-pager -->
                                </div><!-- /.my-auto -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="block-title">
                                    <div class="block-title__text"><span>مرحبا بك</span></div><!-- /.block-title__text -->
                                </div><!-- /.block-title -->
                                <div class="bx-wrapper" style="max-width: 100%;">
                                    <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 248px;">
                                        <ul class="slider presentation-slider" style="width: 3215%; position: relative; transition-duration: 0s; transform: translate3d(-2070px, 0px, 0px);">
                                            <li class="slide-item bx-clone" style="float: left; list-style: none; position: relative; width: 690px;" aria-hidden="true">
                                                <div class="single-pres-one">
                                                    <p>مللت من ديكور منزلك وتريد تحديثه، أوتريد عمل بعض التشطيبات؟</p>
                                                    <p>موقع <a class="text-right" href="/">Pro<span> Handy</span></a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                                                </div><!-- /.single-pres-one -->
                                            </li>
                                            <li class="slide-item" style="float: left; list-style: none; position: relative; width: 690px;" aria-hidden="true">
                                                <div class="single-pres-one">
                                                    <p>لديك شركة تقدم خدمات مقاولاتية؟</p>
                                                    <p>مقاول أو تحترف مهنة في مجال البناء، الترصيص، النجارة الخ؟</p>
                                                    <p>موقع <a href="/">صلح دارك</a> يتيح لك إكتشاف متعاملينا من مقاولين، شركات أو عمال أحرار، يمكنك التواصل معهم في أي وقت وفي أي مكان</p>
                                                    <p>يمكنك <a href="/register">التسجيل</a> أو <a href="/login">الدخول</a> للإنظمام معنا وعرض خدماتك المميزة</p>
                                                </div><!-- /.single-pres-one -->
                                            </li>
                                                </div><!-- /.single-pres-one -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="bx-controls bx-has-controls-direction">
                                        <div class="bx-controls-direction">
                                            <a class="bx-prev" href="">
                                                <i class="nonid-icon-left-arrow"></i>
                                            </a>
                                            <a class="bx-next" href="">
                                                <i class="nonid-icon-left-arrow icon-revresed"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>
    </section>
{% endif %}