{% extends 'base.html' %}
{% block main %}
    <div class="container media col-lg-6 mt-3">
        <img src="static/img/users-profile/{{ current_user.image_file }}" class="align-self-start mr-3" alt="current_user.username">
        <div class="media-body mr-3 mb-3 text-right">
            <h5 class="text-primary text-center">{{ current_user.username }}</h5>
            <p class="text-muted">البريد الإلكتروني: <span class="text-info">{{ current_user.email }}</span></p>
            <p class="text-muted">مفعل: <span class="text-info">{{ current_user.is_active }}</span></p>
            <p class="text-muted">متصل حاليا: <span class="text-info">{{ current_user.is_connected }}</span></p>
            <p class="text-muted">تاريخ التسجيل: <span class="text-info">{{ moment(current_user.created_at).fromNow() }}</span></p>
            <p class="text-muted">طبيعة المستخدم: <span class="text-info">{{ current_user.user_type }}</span></p>
            <p class="text-muted">العنوان:
                <span class="text-info">{{ current_user.address_first_line }} {{ current_user.address_second_line }} - {{ current_user.city }}</span>
            </p>
            <div id="action-profile">
                <a id="action-requests" class="btn btn-secondary float-left" href="#list-tab"><span class="badge badge-light">{{ n_requests }}</span> طلباتي</a>
                <a id="action-services" class="btn btn-secondary ml-3 float-left" href="#list-tab2"><span class="badge badge-light">{{ n_services }}</span> خدماتي</a>
                <a id="action-edit-profile" class="btn btn-info float-right" href="#edit-profile">تعديل معلوماتي</a>
            </div>
        </div>
    </div>
    <div class="container text-right mt-4 mb-4">
        <div id="requests" class="row hide">
            {% if current_user.requests %}
                <div class="col-6">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% for service in services %}
                            {% for request in current_user.requests %}
                                {% if request.service_id == service.id %}
                                    <a class="list-group-item list-group-item-action" id="list-{{ request.service_id }}-list" data-toggle="list" href="#list-{{ request.service_id }}" role="tab" aria-controls="home">{{ service.service_name }}</a>                            
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                
                </div>
                <div class="col-6">
                <div class="tab-content" id="nav-tabContent">
                    {% for service in services %}
                        {% for request in current_user.requests %}
                            {% if request.service_id == service.id %}
                            <div class="tab-pane fade" id="list-{{request.service_id}}" role="tabpanel" aria-labelledby="{{ request.service_id }}-list">
                                    <h5>{{service.service_name}}</h5>
                                    <p class="text-muted">صاحب الخدمة: <span class="text-info">{{ service.owner.username }}</span></p>
                                    <p class="text-muted">تاريخ الطلب: <span class="text-info">{{ moment(request.requested_at).fromNow() }}</span></p>
                                    <a class="btn btn-secondary float-left" href="{{ (url_for('request_service', client_id=current_user.id, service_id=service.id)) }}">تفاصيل الخدمة</a>
                                </div>
                                {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="container-fluid alert alert-info">لم تطلب أي خدمة من قبل</div>
            {% endif %}
        </div>
    </div>
    <div class="container text-right mt-4 mb-4">
        <div id="services" class="row hide">
            {% if current_user.services %}
            
            <div class="col-6">
                <div class="list-group" id="list-tab2" role="tablist">
                    {% for service in current_user.services %}
                    <a class="list-group-item list-group-item-action" id="list-{{ service.id }}-list" data-toggle="list" href="#list-{{ service.id }}" role="tab" aria-controls="home">{{ service.service_name }}</a>                            
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                <div class="tab-content" id="nav-tabContent">
                    {% for service in current_user.services %}
                    <div class="tab-pane fade" id="list-{{service.id}}" role="tabpanel" aria-labelledby="{{ service.id }}-list">
                        <h5>{{service.service_name}}</h5>
                        <p class="text-muted">صاحب الخدمة: <span class="text-info">{{ service.owner.username }}</span></p>
                        <a class="btn btn-secondary float-left" href="{{ (url_for('service_details', id=service.id)) }}">تفاصيل الخدمة</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <div class="container-fluid alert alert-info">لم تقم بتقديم أي خدمة من قبل</div>
            {% endif %}
        </div>
    </div>
    <div class="container col-lg-6 form-group text-right">
        <form id="edit-profile" class="hide" method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.picture.label(class="form-control-label") }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control") }}
                    <div class="alert alert-danger">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.full_name.label(class="form-control-label") }}
                {% if form.full_name.errors %}
                    {{ form.full_name(class="form-control") }}
                    <div class="alert alert-danger">
                        {% for error in form.full_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.full_name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_first_line.label(class="form-control-label") }}
                {% if form.address_first_line.errors %}
                    {{ form.address_first_line(class="form-control") }}
                    <div class="alert alert-danger">
                        {% for error in form.address_first_line.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_first_line(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_second_line.label(class="form-control-label") }}
                {% if form.address_second_line.errors %}
                    {{ form.address_second_line(class="form-control") }}
                    <div class="alert alert-danger">
                        {% for error in form.address_second_line.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_second_line(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                    {{ form.city(class="form-control") }}
                    <div class="alert alert-danger">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.city(class="form-control") }}
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary float-left") }}
            </div>
        </form>
    </div>
{% endblock %}