{% extends 'base.html' %}
{% block main %}
<section class="container-fluid mt-4 row">
    <div class="card border-0 pt-4 col-lg-6 mx-auto">
        <img data-aos="fade" class="card-img-top mx-auto" src="{{ url_for('static', filename='img/services/'+service.image_file) }}" alt="current_user.username">
        <div class="card-body text-right">
            <h5 data-aos="zoom-in" class="text-primary text-center">{{ service.service_name }}</h5>
            <p data-aos="fade-left" class="text-muted">الرقم: <span class="text-info">{{ service.id }}</span></p>
            <p data-aos="fade-rigt" class="text-muted">الخدمة: <span class="text-info">{{ service.service_name }}</span></p>
            <p data-aos="fade-up" class="text-muted">وصف الخدمة: <span class="text-info">{{ service.description }}</span></p>
        </div>
    </div>
    <div class="col-lg-6">
            {% if service_request.service_id == service.id %}
            <h3 class="text-right pt-3">محادثة</h3>
            <ul class="list-unstyled pr-0 text-right overflow-auto">
                {% for m in service_request.messages %}
                    {% if service_request.id == service_request.id %}
                        {% if m.message_sender.id == current_user.id %}
                            <li id="msg-{{ m.id }}" class="media p-3">
                                <img src="{{ url_for('static', filename='img/users-profile/'+ m.message_sender.image_file) }}" class="img-comment mr-3 img-fluid shadow" alt="{{ m.message_sender.username}}">
                                <div class="media-body mr-3">
                                    <h5 class="mt-0 mb-1 text-info"> أنا <small class="text-muted text-center">{{ moment(m.created_at).fromNow() }}</small></h5>
                                    {{ m.message}}
                                </div>
                            </li>
    
                        {% elif (m.message_sender.id == service.user_id) or  (m.message_sender.id != client_id and current_user.id == service.user_id) %}
                            <li id="msg-{{ m.id }}" class="media p-3">
                                <img src="{{ url_for('static', filename='img/users-profile/'+ m.message_sender.image_file) }}" class="img-comment mr-3 img-fluid shadow" alt="{{ m.message_sender.username}}">
                                <div class="media-body mr-3">
                                    <h5 class="mt-0 mb-1 text-info">{{ m.message_sender.username }} <small class="text-muted text-center">{{ moment(m.created_at).fromNow() }}</small></h5>
                                    {{ m.message}}
                                </div>
                            </li>
                        {% endif %}             
                    {% else %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <form class="form-group text-right" method="POST" action="">
                {{ form.hidden_tag() }}
        
                <div class="form-group">
                    {{ form.message.label(class="form-control-label") }}
                    {% if form.message.errors %}
                        {{ form.message(class="form-control") }}
                        <div class="form-group">
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.message(class="form-control", rows="10") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary float-left") }}
                </div>
                
            </form>
            <div id="action-reques" class="container mb-5">
                <a id="send-phone" class="btn btn-secondary" href="#list-tab">ارسل هاتفي</a>
                <a id="send-coordinates" class="btn btn-secondary ml-3" href="#list-tab2">احداثيات عنواني</a>
            </div>
        </div>
    </section>
    <!-- Map Element -->
    <section class="col-lg-8 mt-4 mx-auto">
        {% include 'map.html' %}
    </section>


{% endblock %}

