{% extends 'base.html' %}
{% block main %}
    <div class="container media mt-3 mb-4 shadow-sm">
        <img class="img-fluid align-self-start mr-3" src="{{ url_for('static', filename='img/services/'+service.image_file) }}">
        <div class="media-body mr-3 text-right">
            <h2 class="text-primary text-center">{{ service.service_name }}</h2>  
            <p class="text-muted">الرقم: <span class="text-info">{{ service.id }}</span></p>
            <p class="text-muted">الصنف: <span class="text-info">{{ service.service_name }}</span></p>
            <p class="text-muted">وصف الصنف: <span class="text-info">{{ service.description }}</span></p>
        </div>
    </div>
    
    
    <div class="container shadow-sm">
        {% if service_request.service_id == service.id %}
        <ul class="list-unstyled pr-0 text-right overflow-auto">
            {% for m in service_request.messages %}
                {% if service_request.id == service_request.id %}
                    {% if m.message_sender.id == current_user.id %}
                        <li class="media p-3">
                            <img src="{{ url_for('static', filename='img/users-profile/'+ m.message_sender.image_file) }}" class="img-comment mr-3 img-fluid shadow" alt="{{ m.message_sender.username}}">
                            <div class="media-body mr-3">
                                <h5 class="mt-0 mb-1 text-info"> أنا <small class="text-muted text-center">{{ moment(m.created_at).fromNow() }}</small></h5>
                                {{ m.message}}
                            </div>
                        </li>

                    {% elif (m.message_sender.id == service.user_id) or  (m.message_sender.id != client_id and current_user.id == service.user_id) %}
                        <li class="media p-3">
                            <img src="{{ url_for('static', filename='img/users-profile/'+ m.message_sender.image_file) }}" class="img-comment mr-3 img-fluid shadow" alt="{{ m.message_sender.username}}">
                            <div class="media-body mr-3">
                                <h5 class="mt-0 mb-1 text-info">{{ m.message_sender.username }} <small class="text-muted text-center">{{ moment(m.created_at).fromNow() }}</small></h5>
                                {{ m.message}}
                            </div>
                        </li>
                    {% endif %}             
                {% else %}
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}
    </div>

    <form class="form-group container text-right" method="POST" action="">
            {{ form.hidden_tag() }}
    
            <div class="form-group">
                {{ form.message.label(class="form-control-label") }}
                {% if form.message.errors %}
                    {{ form.message(class="form-control") }}
                    <div class="form-group">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="form-control") }}
                {% endif %}
            </div>
            
            <div class="row">
            <div class="input-field col s12 m12">
                {{ form.submit(class="btn btn-outline-dark float-left") }}
            </div>
            </div>
        </form>

{% endblock %}

