{% extends 'base.html' %}
{% block main %}
    <div class="container row">
        <div class="">
            <h2 class="header">{{ service.service_name }}</h2>
            <div class="card horizontal">
                <div class="card-image">
                <img class="responsiv-img circle" src="{{ url_for('static', filename='img/services/'+service.image_file) }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="indigo-text">الرقم: <span class="blue-text">{{ service.id }}</span></p>
                        <p class="indigo-text">الصنف: <span class="blue-text">{{ service.service_name }}</span></p>
                        <p class="indigo-text">وصف الصنف: <span class="blue-text">{{ service.description }}</span></p>
                        <ul>
                            
                        </ul>
                    </div>
                    <div class="card-action">
                        {% if current_user.user_type == 'admin' or current_user.id == service.user_id %}
                            <a class="indigo-text left" href="{{ url_for('update_service', id=service.id) }}">تعديل</a>
                            <a class="red-text left" href="#">حذف</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="col s12 m12" method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="input-field col s12 m12">
            {{ form.message.label }}
            {% if form.message.errors %}
                {{ form.message(class="") }}
                <div class="red-text darken-3-text center-align pulse">
                    {% for error in form.message.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.message(class="") }}
            {% endif %}
        </div>
        
        <div class="row">
        <div class="input-field col s12 m12">
            {{ form.submit(class="btn-large indigo left") }}
        </div>
        </div>
    </form>
    <div>
        {% if request_messages %}
            {% for message in request_messages %}
                <div>
                    <p>{{ message.message }}</p>
                    <small>{{ message.created_at }}</small>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}