{% extends 'base.html' %}
{% block main %}
    <div class="row container my-5 mx-auto">
        <form class="col-6 MT-3 mx-auto form-group text-right" method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label(class="form-control-label text-center") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control", type="email") }}
                    <div class="alert alert-danger text-center">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control", type="email") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.submit(class="form-control btn btn-primary") }}
            </div>
        
        </form>
    </div>
            
{% endblock %}