{% extends 'base.html' %}
{% block main %}
    <div class="container row">
        <div class="">
            <h2 class="header">{{ service.service_name }}</h2>
            <div class="card horizontal">
                <div class="card-image">
                <img class="responsiv-img circle" src="{{ url_for('static', filename='img/services/'+service.image_file) }}">
                </div>
                <div class="card-stacked">
                <div class="card-content">
                    <p class="indigo-text">الرقم: <span class="blue-text">{{ service.id }}</span></p>
                    <p class="indigo-text">الصنف: <span class="blue-text">{{ service.service_name }}</span></p>
                    <p class="indigo-text">وصف الصنف: <span class="blue-text">{{ service.description }}</span></p>
                    <ul>
                        
                    </ul>
                </div>
                <div class="card-action">
                    <a class="indigo-text left" href="#">المزيد من التفاصيل</a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}