{% extends 'base.html' %}
{% block main %}
<section class="container mt-4 row mx-auto">
    <div class="card pt-4 col-lg-6 mx-auto">
        <div class="hover-effect">
            <img data-aos="fade" class="card-img-top mx-auto" src="{{ url_for('static', filename='img/services/'+service.image_file) }}" alt="current_user.username">
        </div>
        <div class="card-body text-right">
            <h5 data-aos="zoom-in" class="text-primary text-center">{{ service.service_name }}</h5>
            <p data-aos="fade-left" class="text-muted">الرقم: <span class="text-info">{{ service.id }}</span></p>
            <p data-aos="fade-rigt" class="text-muted">الخدمة: <span class="text-info">{{ service.service_name }}</span></p>
            <p data-aos="fade-up" class="text-muted">وصف الخدمة: <span class="text-info">{{ service.description }}</span></p>

            <div id="card-footer">
                {% if current_user.user_type == 'admin' or current_user.id == service.user_id %}
                    <a data-aos="flip-down" class="btn btn-secondary float-right" href="{{ url_for('update_service', id=service.id) }}">تعديل</a>
                    <a data-aos="flip-down" class="btn btn-primary float-left" href="#delete">حذف</a>
                {% else %}
                <a data-aos="flip-down" class="btn btn-primary float-left" href="{{ url_for('request_service', client_id=current_user.id, service_id=service.id) }}">طلب الخدمة</a>
                {% endif %}
            </div>
        </div>
    </div>

</section>
{% endblock %}