{% extends 'base.html' %}
{% block main %}
<div class="card-deck">
    {% if users %}
        {% for user in users %}
            <div class="card text-right">
                <img src="static/img/users-profile/{{ user.image_file }}" class="card-img-top" alt="user.username">
                <div class="card-body">
                    <h5 class="card-title text-primary text-center">{{ user.username }}</h5>
                    <p class="card-text">البريد الإلكتروني: <span class="text-muted">{{ user.email }}</span></p>
                    <p class="card-text">مفعل: <span class="text-muted">{{ user.is_active }}</span></p>
                    <p class="card-text">متصل حاليا: <span class="text-muted">{{ user.is_connected }}</span></p>
                    <p class="card-text">تاريخ التسجيل: <span class="text-muted">{{ moment(user.created_at).fromNow() }}</span></p>
                    <p class="card-text">طبيعة المستخدم: <span class="text-muted">{{ user.user_type }}</span></p>
                    <p class="card-text">العنوان:
                        <span class="text-muted">{{ user.address_first_line }} {{ user.address_second_line }} - {{ user.city }}</span>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">تاريخ آخر دخول: {{ moment(user.last_login).fromNow() }}</small>
                    <div class="text-left">
                        <a class="indigo-text left" href="#">المزيد من التفاصيل</a>
                    </div>
                </div>
            </div>


        {% endfor %}
</div>
{% else %}
        <div class="container">
            <h1 class="red-text center">مكان حتى واحد!</h1>
        </div>
{% endif %}
{% endblock %}