

body {
    font-family: 'Changa', serif;
}

nav a:hover {
    color: #607D8B;
}

#interface-section {
    background-color: transparent;
}

.counter-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: #007bff 4px solid;
}

.counter-value {
    position: relative;
    padding: 1.25rem;
    color: #007bff;
    font-size: 2em;
}



/* Nav */
.navbar-brand {
    font-size: 2rem;
}
#user-nav-img {
    width : 32px;
}

#interface-section::before {
    /* background-image: url(https://i.dlpng.com/static/png/1697233_thumb.png); */
    /* background-size: cover; */
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
}

.diag {
    transform: skewY(-6deg);
}

.media {
    flex-flow: wrap;
}

.img-comment {
    width: 48px;
    border-radius: 10px;
}

.list-unstyled {
    height: 200px;
}

.hide {
    display: none;
}

#notification {
    width: 32px;
    height: 32px;
    line-height: inherit;
}

#notif-badge {
    font-size: 12px;
}


#map, #main-map {
    width: 100%;
    height: 80vh;
}

.mapboxgl-canvas {
    position: relative !important;
}

.marker {
    display: block;
    top: -32px;
    left: -1px;
    box-shadow: 1px 1px 15px #fff;
    border: #fff solid 3px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-marker svg {
    width: 90px;
    height: 90px;
}

.toast {
    width: 400px;
    position: absolute;
    top: 36px;
}

