{% extends 'base.html' %}
{% block main %}
    <div class="row container">
        <form class="col s12 m12" method="POST" action="">
                {{ form.hidden_tag() }}
            <div class="input-field col s12 m6">
                {{ form.username.label }}
                {% if form.username.errors %}
                    {{ form.username(class="") }}
                    <div class="red-text darken-3-text center-align pulse">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="") }}
                {% endif %}
            </div>

            <div class="input-field col s12 m6">
                {% if form.email.errors %}
                    {{ form.email(class="", type="email") }}
                    <div class="red-text darken-3-text center-align pulse">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="", type="email") }}
                {% endif %}
                {{ form.email.label }}
            </div>

            <div class="input-field col s12 m6">
                {% if form.password.errors %}
                    {{ form.password(class="", type="password") }}
                    <div class="red-text darken-3-text center-align pulse">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.password(class="", type="password") }}
                {% endif %}
                {{ form.password.label }}
            </div>
            <div class="input-field col s12 m6">
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="", type="password") }}
                    <div class="red-text darken-3-text center-align pulse">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.confirm_password(class="", type="password") }}
                {% endif %}
                {{ form.confirm_password.label }}
            </div>
            <div class="row">
            <div class="file-field input-field col s12 m12">
                {{ form.submit(class="btn-large indigo") }}
            </div>
            </div>
        </form>
    </div>
            
{% endblock %}