{% extends 'base.html' %}
{% block main %}
    <div class="row container">
        <form class="col s12 m12" method="POST" action="{{ url_for('signup') }}" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">account_circle</i>
                    <input required id="name" name="name" type="text" class="validate">
                    <label for="icon_prefix">الإسم</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <input required id="email" name="email" type="text" class="validate">
                    <label for="icon_prefix">البريد الإلكتروني</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <input required id="email-conf" name="email-conf" type="text" class="validate">
                    <label for="icon_prefix">البريد الإلكتروني</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix visible-off">visibility</i>
                    <input id="password"  name="password" type="password" class="validate">
                    <label for="password">كلمة السر</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix visible-off">visibility</i>
                    <input id="password-conf" name="password-conf"  type="password" class="validate">
                    <label for="password-conf">تأكيد كلمة السر</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" name="tel" type="tel" class="validate">
                    <label for="icon_telephone">الهاتف</label>
                </div>
                <div class="input-field col s12 m6">
                    <select class="icons" name="m-type">
                        <option value="" disabled selected></option>
                        <option value="individual">
                            <span class="customized-icons">phone</span>
                            شخص
                        </option>
                        <option value="company" data-icon="static/img/femel">مؤسسة / شركة</option>
                    </select>
                    <label>الطبيعة</label>
                </div>
                <div class="file-field input-field col s12 m12">
                    <div class="file-path-wrapper">
                        <i class="material-icons prefix">linked_camera</i>
                        <input type="file" name="file">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="file-field input-field col s12 m12">
                    <button class="btn" type="submit">تسجيل</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}